In [34]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler

#label encoder
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils

In [53]:
df = pd.read_csv("DA/visa.csv")
df.shape

(374362, 154)

In [54]:
df.isnull().sum()

add_these_pw_job_title_9089               332168
agent_city                                162908
agent_firm_name                           167365
agent_state                               166123
application_type                          239093
case_no                                   239093
case_number                               135269
case_received_date                        135271
case_status                                    0
class_of_admission                         22845
country_of_citizenship                     20633
country_of_citzenship                     353788
decision_date                                  0
employer_address_1                            42
employer_address_2                        149193
employer_city                                 14
employer_country                          135343
employer_decl_info_title                  135308
employer_name                                 12
employer_num_employees                    135349
employer_phone                            135305
employer_phone_ext                        350901
employer_postal_code                          37
employer_state                                42
employer_yr_estab                         135404
foreign_worker_info_alt_edu_experience    285737
foreign_worker_info_birth_country         285734
foreign_worker_info_city                  135297
foreign_worker_info_education             135309
foreign_worker_info_education_other       370422
                                           ...
refile                                    256283
ri_1st_ad_newspaper_name                  137634
ri_2nd_ad_newspaper_name                  137666
ri_2nd_ad_newspaper_or_journal            141448
ri_campus_placement_from                  344359
ri_campus_placement_to                    344369
ri_coll_tch_basic_process                 367349
ri_coll_teach_pro_jnl                     221788
ri_coll_teach_select_date                 368632
ri_employee_referral_prog_from            305641
ri_employee_referral_prog_to              305640
ri_employer_web_post_from                 237726
ri_employer_web_post_to                   237748
ri_job_search_website_from                177571
ri_job_search_website_to                  177581
ri_layoff_in_past_six_months              135303
ri_local_ethnic_paper_from                253481
ri_local_ethnic_paper_to                  253481
ri_posted_notice_at_worksite              135360
ri_pvt_employment_firm_from               357920
ri_pvt_employment_firm_to                 357922
ri_us_workers_considered                  357129
schd_a_sheepherder                        135288
us_economic_sector                        245294
wage_offer_from_9089                      114771
wage_offer_to_9089                        300728
wage_offer_unit_of_pay_9089               115916
wage_offered_from_9089                    259715
wage_offered_to_9089                      343347
wage_offered_unit_of_pay_9089             303663
Length: 154, dtype: int64

In [55]:
df = df.loc[(df['case_status'] != "Withdrawn")]
to_predict = df['case_status']
temp = df.groupby('case_status')['case_status'].nunique()
temp

case_status
Certified            1
Certified-Expired    1
Denied               1
Name: case_status, dtype: int64

In [56]:
df.loc[df['case_status'] == "Certified", "case_status"] = 1
df.loc[df['case_status'] == "Certified-Expired", "case_status"] = 2
df.loc[df['case_status'] == "Denied", "case_status"] = 3
df['case_status'].head()

0    1
1    3
2    1
3    1
4    1
Name: case_status, dtype: int64

### Columns left
- 99% : 147
- 90% : 122
- 50% : 70
- 25% : 17

In [57]:
n=374362-(374362*0.1)

In [58]:
for i in df.columns:
    #print(df[i].isnull().sum())
    if((df[i].isnull().sum())>n):
        df = df.drop(i,axis=1)
        print("dropped",i)

('dropped', 'country_of_citzenship')
('dropped', 'foreign_worker_info_education_other')
('dropped', 'ji_live_in_dom_svc_contract')
('dropped', 'job_info_alt_combo_ed_other')
('dropped', 'job_info_education_other')
('dropped', 'job_info_training_field')
('dropped', 'job_info_training_num_months')
('dropped', 'naics_2007_us_code')
('dropped', 'naics_2007_us_title')
('dropped', 'orig_case_no')
('dropped', 'orig_file_date')
('dropped', 'pw_source_name_other_9089')
('dropped', 'recr_info_coll_teach_comp_proc')
('dropped', 'recr_info_job_fair_from')
('dropped', 'recr_info_job_fair_to')
('dropped', 'recr_info_on_campus_recr_from')
('dropped', 'recr_info_on_campus_recr_to')
('dropped', 'recr_info_pro_org_advert_from')
('dropped', 'recr_info_pro_org_advert_to')
('dropped', 'ri_coll_tch_basic_process')
('dropped', 'ri_coll_teach_select_date')
('dropped', 'ri_pvt_employment_firm_from')
('dropped', 'ri_pvt_employment_firm_to')
('dropped', 'ri_us_workers_considered')

In [59]:
df.shape

(356168, 130)

In [80]:
# df.drop('agent_city',axis=1)
# df.drop('case_no',axis=1)
# df.drop('case_number',axis=1)
# df.drop('case_received_date',axis=1)

Empty DataFrame
Columns: [add_these_pw_job_title_9089, agent_city, agent_firm_name, agent_state, application_type, case_no, case_number, case_received_date, case_status, class_of_admission, country_of_citizenship, decision_date, employer_address_1, employer_address_2, employer_city, employer_country, employer_decl_info_title, employer_name, employer_num_employees, employer_phone, employer_phone_ext, employer_postal_code, employer_state, employer_yr_estab, foreign_worker_info_alt_edu_experience, foreign_worker_info_birth_country, foreign_worker_info_city, foreign_worker_info_education, foreign_worker_info_inst, foreign_worker_info_major, foreign_worker_info_postal_code, foreign_worker_info_rel_occup_exp, foreign_worker_info_req_experience, foreign_worker_info_state, foreign_worker_info_training_comp, foreign_worker_ownership_interest, foreign_worker_yr_rel_edu_completed, fw_info_alt_edu_experience, fw_info_birth_country, fw_info_education_other, fw_info_postal_code, fw_info_rel_occup_exp, fw_info_req_experience, fw_info_training_comp, fw_info_yr_rel_edu_completed, fw_ownership_interest, ji_foreign_worker_live_on_premises, ji_fw_live_on_premises, ji_live_in_domestic_service, ji_offered_to_sec_j_foreign_worker, ji_offered_to_sec_j_fw, job_info_alt_cmb_ed_oth_yrs, job_info_alt_combo_ed, job_info_alt_combo_ed_exp, job_info_alt_field, job_info_alt_field_name, job_info_alt_occ, job_info_alt_occ_job_title, job_info_alt_occ_num_months, job_info_combo_occupation, job_info_education, job_info_experience, job_info_experience_num_months, job_info_foreign_ed, job_info_foreign_lang_req, job_info_job_req_normal, job_info_job_title, job_info_major, job_info_training, job_info_work_city, job_info_work_postal_code, job_info_work_state, naics_code, naics_title, naics_us_code, naics_us_code_2007, naics_us_title, naics_us_title_2007, preparer_info_emp_completed, preparer_info_title, pw_amount_9089, pw_determ_date, pw_expire_date, pw_job_title_908, pw_job_title_9089, pw_level_9089, pw_soc_code, pw_soc_title, pw_source_name_9089, pw_track_num, pw_unit_of_pay_9089, rec_info_barg_rep_notified, recr_info_barg_rep_notified, recr_info_coll_univ_teacher, recr_info_employer_rec_payment, recr_info_first_ad_start, recr_info_prof_org_advert_from, recr_info_prof_org_advert_to, recr_info_professional_occ, recr_info_radio_tv_ad_from, ...]
Index: []

[0 rows x 130 columns]

In [ ]:
# corr_matrix = df.corr().abs()
# corr_matrix['case_status']